.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);

    gap: 16px;
    padding-bottom: 16px;
    .card {
        overflow: hidden;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid var(--color-secondary-4);
        box-shadow: 0px 2px 16px 0px #e0e0e033, 0px 1px 8px 0px #bdbdbd14;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover:not(&.disabled) {
            border-color: var(--color-primary-1);
            background-color: var(--color-primary-8);
        }
        &.disabled {
            background-color: var(--color-light-2);
            cursor: initial;
        }
        .tag {
            padding: 2px 4px;
            border: 1px solid var(--color-light-7);
            border-radius: 4px;

            &.danger {
                border: 1px solid var(--color-danger-1);
                color: var(--color-danger-1);
            }
            &.secondary {
                border: 1px solid var(--color-light-5);
                color: var(--color-light-5);
            }
        }
    }
}
.card {
    overflow: hidden;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-4);
    box-shadow: 0px 2px 16px 0px #e0e0e033, 0px 1px 8px 0px #bdbdbd14;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover:not(&.disabled) {
        border-color: var(--color-primary-1);
        background-color: var(--color-primary-8);
    }
    &.disabled {
        background-color: var(--color-light-2);
        cursor: initial;
    }
    .errorTag {
        padding: 2px 4px;
        border: 1px solid var(--color-danger-1);
        border-radius: 4px;
        color: var(--color-danger-1);
    }
}
