.heading {
    margin-top: 64px;
    width: 460px;
    color: #010e3c;
    text-align: center;
}

.body {
    margin-top: 12px;
    color: #70778f;
    text-align: center;
}

.copyright {
    color: #70778f;

    & a {
        color: var(--color-primary-1);
    }
}
