.filterContainer {
    width: 100%;
    padding: 10px 8px;
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
            font-size: 20px;
            color: var(--color-secondary-3);
        }
    }
}
