.crmContainer {
    padding-bottom: 0 !important ;
}

.searchBarContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.segmentationButton {
    padding: 7px 12px;
    color: var(--color-light-4);
    border: 1px solid var(--color-light-3);
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        border-color: var(--color-primary-1);
    }
}

.tagArea {
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        border: 1px solid var(--color-secondary-4);
    }
    .tagItem {
        margin: 3px;
        background: #FEE5C5;
        height: 24px;
    }
    * {
        font-size: 12px;
    }
}

.tagModify {
    .tagItemModify {
        background: #FEE5C5;
        height: 24px;
        * {
            font-size: 12px;
        } 
    }
}


.assign {
    width: unset!important;
}

.IconArrow {
    :hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.fileImage:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.previewContainer {
    background: white;
    max-width: 650px;
    margin: 0 auto;
    height: 100%;
    .content {
        padding: 48px;
    }
    .file {
        width: 500px;
        background: #fafafa;
        border-radius: 4px;
        padding: 8px 12px;
        color: var(--color-light-7);
    }
}

.attachmentRow {
    height: 94px !important;
    min-height: 94px !important;
}

.container {
    z-index: 100;
    :global {
        .simplebar-content-wrapper {
            height: 100% !important;
        }
    }
}

.fieldContainer {
    position: relative;
    width: 100%;
    &:hover {
        .dragContainer {
            visibility: visible;
            button {
                transition: visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }
    &.disabled {
        pointer-events: none;
    }
    .dragContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: flex-start;
        top: 36px;
        left: -26px;
        padding-right: 2px;
        visibility: hidden;
        button {
            cursor: grab;
            transition: none;
        }
        &:hover {
            visibility: visible;
        }
    }
}

.menuTitleContainer {
    padding: 20px 32px;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.boardContainer {
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}
.brokenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: var(--color-light-2);
    color: var(--color-light-4);
}
.previewIcon div {
    margin-left: 10px;
    &:hover {
        cursor: pointer;
    }
    svg {
        font-size: 24px;
        color: var(--color-secondary-1);
    }
}