.templateDetail {
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    height: 100%;
    .fieldsContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 40px;
        overflow: hidden;
        margin-bottom: 20px;
        > div {
            display: flex;
            flex-direction: column;
            gap: 7px;
            overflow: hidden;
            .avatarContainer {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        .content {
            flex: 1;
            > div {
                overflow: auto;
            }
        }
    }
    .footer {
        display: flex;
        gap: 20px;
        flex-direction: column;
        min-height: 43px;
    }
}
