.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 328px);
    grid-auto-rows: 232px;
    gap: 16px;
    padding: 8px 0;
}
.viewOnly {
    background-color: rgba(224, 224, 224, 1);
}
.fileUpload {
    > div > div > div > div {
        width: 50%;
        background: rgba(242, 242, 242, 1);
    }
}
.shortInput {
    width: 50% !important;
}
.noPermissionAccess {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    span {
        color: rgba(51, 51, 51, 1);
        font-size: 20px;
        font-weight: 800;
    }
}
.functionCallingBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 5%;
    div {
        width: 80% !important;
    }
    svg {
        font-size: 30px !important;
    }
}
.autoUpLine {
    @media screen and (max-width: 1974px) {
        label p {
            line-height: 1.4;
            min-height: calc(1.4em * 2);
        }
    }
}
.iconThinkingGuide {
    margin-right: 13px;
    margin-left: 5px;
}

.addBoard:hover, .removeIcon:hover {
    cursor: pointer;
}

.fileUpload svg {
    width: 16px;
    height: 16px;
}