.sideBarContainer {
    min-width: 270px;
    max-width: 360px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.sideBarContainerBorder {
    border-right: solid 1px var(--color-light-3);
}
