.simpleBarContainer {
    height: 100%;
    :global {
        .simplebar-content-wrapper {
            margin: 0 !important;
        }
    }
}

.headerContainer {
    > div:first-child {
        border-bottom: 1px solid var(--color-light-3);
        padding-bottom: 16px !important;
        > div:nth-of-type(2) {
            margin-bottom: 0 !important;
        }
    }
}

.contentContainer {
    margin-top: 23px;
}
